discord.py
google-generativeai>=0.5.0
python-binance
python-dotenv
aiosqlite
aiohttp
tavily-python
cloudscraper
beautifulsoup4
Flask
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
numpy
curl_cffi
aiohttp
aiosqlite
beautifulsoup4
binance
cloudscraper
curl_cffi
discord.py
Flask
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
numpy
Pillow
python-dotenv
python-binance
requests
tavily-python
