discord.py
google-generativeai>=0.8.0
google-genai>=2.0.0
python-dotenv
aiosqlite
aiohttp
tavily-python
cloudscraper
beautifulsoup4
Flask
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
numpy
curl_cffi
requests
gradio
